# Imports for Python, Pandas

# JSON exercise
Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,

1. Find the 10 countries with most projects

2. Find the top 10 major project themes (using column 'mjtheme_namecode')

3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [306]:
import pandas as pd
import numpy as np

In [307]:
import json
from pandas.io.json import json_normalize

# Check the type of json_data

In [308]:
json_data = json.load((open('world_bank_projects.json')))
type(json_data)

list

# Normalized JSON data and column names

In [309]:
json_normalized = json_normalize(json_data)

In [310]:
json_normalized.columns

Index(['_id.$oid', 'approvalfy', 'board_approval_month', 'boardapprovaldate',
       'borrower', 'closingdate', 'country_namecode', 'countrycode',
       'countryname', 'countryshortname', 'docty', 'envassesmentcategorycode',
       'grantamt', 'ibrdcommamt', 'id', 'idacommamt', 'impagency',
       'lendinginstr', 'lendinginstrtype', 'lendprojectcost',
       'majorsector_percent', 'mjsector_namecode', 'mjtheme',
       'mjtheme_namecode', 'mjthemecode', 'prodline', 'prodlinetext',
       'productlinetype', 'project_abstract.cdata', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector1.Name', 'sector1.Percent',
       'sector2.Name', 'sector2.Percent', 'sector3.Name', 'sector3.Percent',
       'sector4.Name', 'sector4.Percent', 'sector_namecode', 'sectorcode',
       'source', 'status', 'supplementprojectflg', 'theme1.Name',
       'theme1.Percent', 'theme_namecode', 'themecode', 'totalamt',
       'totalcommamt', 'url'],
      dtype='object')

In [311]:
type(json_normalized)

pandas.core.frame.DataFrame

# Question 1 - Find the 10 countries with most projects

In [312]:
json_normalized.id.groupby(json_normalized['country_namecode']).count().sort_values(ascending=False)[:10]

country_namecode
People's Republic of China!$!CN         19
Republic of Indonesia!$!ID              19
Socialist Republic of Vietnam!$!VN      17
Republic of India!$!IN                  16
Republic of Yemen!$!RY                  13
Nepal!$!NP                              12
People's Republic of Bangladesh!$!BD    12
Kingdom of Morocco!$!MA                 12
Africa!$!3A                             11
Republic of Mozambique!$!MZ             11
Name: id, dtype: int64

# 'mjtheme_namecode' Column needs to be normalized to proceed for the next questions

In [313]:
mjtheme_namecode_normalized = json_normalize(json_data,'mjtheme_namecode')

mjtheme_namecode_normalized.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

# Question 2 - Find the top 10 major project themes (using column 'mjtheme_namecode')

In [314]:
top_10_major_project_themes = mjtheme_namecode_normalized.code.groupby(mjtheme_namecode_normalized.name).count().sort_values(ascending=False)[:10]

In [315]:
top_10_major_project_themes

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64

# Question 3 - In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [316]:
missing_names = mjtheme_namecode_normalized.sort_values(by = 'code')

missing_names.head(11)

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1

In [317]:
fill_nan_for_missing_values = missing_names.name.replace('', np.nan, inplace=True)
forward_fill_missing_names  = missing_names.ffill()
forward_fill_missing_names.head(11)

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management

In [318]:
top_10_major_project_themes_after_ffill = forward_fill_missing_names.code.groupby(forward_fill_missing_names.name).count().sort_values(ascending=False)[:10]

# top_10_major_project_themes_after_the_ffill

In [319]:
top_10_major_project_themes_after_ffill

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: code, dtype: int64

# top_10_major_project_themes_before_the_ffill

In [320]:
top_10_major_project_themes

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64