In [1]:
import pandas as pd
import numpy as np
import operator
import re
from collections import OrderedDict
import seaborn as sns
import pickle

import os.path
from matplotlib.colors import ListedColormap
import matplotlib.colors as colors
import matplotlib.cm as cmx
import matplotlib.pyplot as plt
from pylab import rcParams
from mpl_toolkits.basemap import Basemap
from geopy.geocoders import Nominatim
import math
import warnings
from scipy import stats
warnings.filterwarnings('ignore')

In [2]:
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [3]:
df= pd.read_csv('Capstone 1 - Preparing Data(W&H).csv')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,DATE,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IsHoliday,Holiday
0,0,0,2015-01-01 00:00:00,2015,1,1,4,AA,1112,N3LAAA,...,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
1,1,1,2015-01-01 00:00:00,2015,1,1,4,DL,1173,N826DN,...,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
2,2,2,2015-01-01 00:00:00,2015,1,1,4,DL,2336,N958DN,...,-30.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
3,3,3,2015-01-01 00:00:00,2015,1,1,4,UA,1197,N78448,...,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
4,4,4,2015-01-01 00:00:00,2015,1,1,4,NK,214,N632NK,...,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day

In [5]:
df.drop(["Unnamed: 0","Unnamed: 0.1"], axis=1, inplace=True)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop(["CANCELLED"], axis=1)
y = df.CANCELLED

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=42)

In [9]:
X_test.shape

(53319, 70)

In [10]:
df= pd.concat([X_test,y_test],axis=1)

In [11]:
df.reset_index(inplace=True)

In [12]:
df.drop(["index"], axis=1, inplace=True)

In [13]:
df.shape

(53319, 71)

In [14]:
df.to_csv("Encoded_last.csv")

In [15]:
df=pd.read_csv("10%Data.csv")

In [16]:
import time

In [17]:
'''df['DATE']= pd.to_datetime(df.DATE)
df['SCHEDULED_ARRIVAL_DT']= pd.to_datetime(df.SCHEDULED_ARRIVAL_DT)
df['WHEELS_ON_DT']= pd.to_datetime(df.WHEELS_ON_DT)
df['SCHEDULED_DEPARTURE_DT']= pd.to_datetime(df.SCHEDULED_DEPARTURE_DT)
df['ARRIVAL_TIME_DT']= pd.to_datetime(df.ARRIVAL_TIME_DT)
df['DEPARTURE_TIME_DT']= pd.to_datetime(df.DEPARTURE_TIME_DT)
df['WHEELS_OFF_DT']= pd.to_datetime(df.WHEELS_OFF_DT)'''

"df['DATE']= pd.to_datetime(df.DATE)\ndf['SCHEDULED_ARRIVAL_DT']= pd.to_datetime(df.SCHEDULED_ARRIVAL_DT)\ndf['WHEELS_ON_DT']= pd.to_datetime(df.WHEELS_ON_DT)\ndf['SCHEDULED_DEPARTURE_DT']= pd.to_datetime(df.SCHEDULED_DEPARTURE_DT)\ndf['ARRIVAL_TIME_DT']= pd.to_datetime(df.ARRIVAL_TIME_DT)\ndf['DEPARTURE_TIME_DT']= pd.to_datetime(df.DEPARTURE_TIME_DT)\ndf['WHEELS_OFF_DT']= pd.to_datetime(df.WHEELS_OFF_DT)"

In [18]:
'''df['DATE']=df.DATE.apply(lambda x:time.mktime(x.timetuple()))
df['SCHEDULED_ARRIVAL_DT']=df.SCHEDULED_ARRIVAL_DT[df.SCHEDULED_ARRIVAL_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))
df['WHEELS_ON_DT']=df.WHEELS_ON_DT[df.WHEELS_ON_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))
df['SCHEDULED_DEPARTURE_DT']=df.SCHEDULED_DEPARTURE_DT[df.SCHEDULED_DEPARTURE_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))
df['ARRIVAL_TIME_DT']=df.ARRIVAL_TIME_DT[df.ARRIVAL_TIME_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))
df['DEPARTURE_TIME_DT']=df.DEPARTURE_TIME_DT[df.DEPARTURE_TIME_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))
df['WHEELS_OFF_DT']=df.WHEELS_OFF_DT[df.WHEELS_OFF_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))'''

"df['DATE']=df.DATE.apply(lambda x:time.mktime(x.timetuple()))\ndf['SCHEDULED_ARRIVAL_DT']=df.SCHEDULED_ARRIVAL_DT[df.SCHEDULED_ARRIVAL_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))\ndf['WHEELS_ON_DT']=df.WHEELS_ON_DT[df.WHEELS_ON_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))\ndf['SCHEDULED_DEPARTURE_DT']=df.SCHEDULED_DEPARTURE_DT[df.SCHEDULED_DEPARTURE_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))\ndf['ARRIVAL_TIME_DT']=df.ARRIVAL_TIME_DT[df.ARRIVAL_TIME_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))\ndf['DEPARTURE_TIME_DT']=df.DEPARTURE_TIME_DT[df.DEPARTURE_TIME_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))\ndf['WHEELS_OFF_DT']=df.WHEELS_OFF_DT[df.WHEELS_OFF_DT.notnull()].apply(lambda x:time.mktime(x.timetuple()))"

In [19]:
'''df['WHEELS_ON']= df.WHEELS_ON.str.slice(0,2)+df.WHEELS_ON.str.slice(3,5)
df['ARRIVAL_TIME']= df.ARRIVAL_TIME.str.slice(0,2)+df.ARRIVAL_TIME.str.slice(3,5)
df['SCHEDULED_ARRIVAL']= df.SCHEDULED_ARRIVAL.str.slice(0,2)+df.SCHEDULED_ARRIVAL.str.slice(3,5)'''

"df['WHEELS_ON']= df.WHEELS_ON.str.slice(0,2)+df.WHEELS_ON.str.slice(3,5)\ndf['ARRIVAL_TIME']= df.ARRIVAL_TIME.str.slice(0,2)+df.ARRIVAL_TIME.str.slice(3,5)\ndf['SCHEDULED_ARRIVAL']= df.SCHEDULED_ARRIVAL.str.slice(0,2)+df.SCHEDULED_ARRIVAL.str.slice(3,5)"

In [20]:
num_cols = df._get_numeric_data().columns.tolist()

In [21]:
cat_list = list(set(df.columns.tolist())-set(num_cols))

In [22]:
df[cat_list].columns

Index(['ORG_summary', 'DEST_precipType', 'AIRLINE', 'ORG_icon',
       'DESTINATION_AIRPORT', 'ORIGIN_AIRPORT', 'ORG_precipType', 'DEST_icon',
       'DEST_summary'],
      dtype='object')

In [23]:
df.drop(["Unnamed: 0"], inplace=True,axis=1)

In [24]:
df.head()

,DATE,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,ORG_apparentTemperature,ORG_cloudCover,...,ARRIVAL_TIME_DT,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IsHoliday
0,1.420092e+09,2015,1,1,4,AA,1112,SFO,45.08,0.00,...,1.420113e+09,-13.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
1,1.420092e+09,2015,1,1,4,DL,1173,LAS,34.23,0.83,...,1.420118e+09,-15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
2,1.420092e+09,2015,1,1,4,DL,2336,DEN,6.92,0.00,...,1.420111e+09,-30.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
3,1.420092e+09,2015,1,1,4,UA,1197,SFO,45.08,0.00,...,1.420115e+09,-7.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1
4,1.420092e+09,2015,1,1,4,NK,214,LAS,33.39,1.00,...,1.420112e+09,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1

In [25]:
df.drop(["Unnamed: 0",'Unnamed: 0.1','Unnamed: 0.1.1','Holiday','TAIL_NUMBER'], inplace=True,axis=1)

KeyError: "['Unnamed: 0' 'Unnamed: 0.1' 'Unnamed: 0.1.1' 'Holiday' 'TAIL_NUMBER'] not found in axis"

In [ ]:
dummies = pd.get_dummies(df[cat_list],dummy_na=True, sparse=True)

In [ ]:
dummies.shape

In [ ]:
#dummies.to_csv('to_dummies.csv')

In [ ]:
#dummies10 = pd.get_dummies(df[cat_list[10]], sparse=True)

In [ ]:
df = pd.concat([df,pd.get_dummies(df[cat_list],dummy_na=True,drop_first=True)],axis=1).drop(cat_list,axis=1)

In [ ]:
df.head()

In [ ]:
from sklearn import preprocessing

In [ ]:
scaler = preprocessing.StandardScaler()
scaled_df = scaler.fit_transform(df)

In [ ]:
df.head()

In [ ]:
scaled_df.to_csv('Scaled.csv')

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
cat = df[cat_list].astype(str).apply(label_encoder.fit_transform)

In [ ]:
df.drop(cat_list, axis=1,inplace=True)

In [ ]:
df = pd.concat([df, cat], axis=1)

In [ ]:
X = df.drop(["CANCELLED"], axis=1).values
y = df.CANCELLED.astype(int).values

In [ ]:
from sklearn.preprocessing import Imputer
im = Imputer(missing_values='NaN', strategy ='mean', axis=0)
im.fit(X)
X=im.transform(X)

In [ ]:
# 10% of the data
X= X_train
y= y_train

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y,random_state=24,stratify=y,test_size=0.3)

In [ ]:
%%time
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV
from imblearn.pipeline import Pipeline as pl
from imblearn.under_sampling import RandomUnderSampler
# Steps for pipeline
steps = [("scaler", MinMaxScaler(feature_range=(0,1))),
         ("model", LogisticRegression(random_state=40))]
pipe = pl(steps)

# Parameters
param_grid = dict(model__C = [1e-8, 1e-7, 1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1],
                  model__penalty = ['l1', 'l2'],
                  model__class_weight = ['balanced']
                  )
# For CV in grid search
cv = StratifiedShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 20)

# Setting up the grid search
LRcw = GridSearchCV(pipe, param_grid = param_grid, 
                           verbose = 3,
                           cv = cv,
                          n_jobs=-1,
                          scoring='average_precision',
                          iid=False)
# Training using CV
LRcw.fit(X_train, y_train)

In [ ]:
LRrusPR.score(X_test,y_test)

In [ ]:
LRrusPR.best_params_

In [ ]:
from sklearn import metrics
from sklearn.metrics import roc_curve, auc, precision_recall_curve, cohen_kappa_score

In [ ]:
y_pred_train = LRrusPR.predict(X_train) # class prediction
y_pred_train_prob = LRrusPR.predict_proba(X_train) # probability of each class prediction
print("#####################")
print("Train data")
print("#####################")
print("F1: ", metrics.f1_score(y_train, y_pred_train))
print("Cohen Kappa: ", metrics.cohen_kappa_score(y_train, y_pred_train))
print("Brier: ", metrics.brier_score_loss(y_train, y_pred_train))
print("LogLoss: ", metrics.log_loss(y_train, y_pred_train_prob))
print(metrics.classification_report(y_train, y_pred_train))
print(metrics.confusion_matrix(y_train, y_pred_train))

In [ ]:
y_pred_test = LRrusPR.predict(X_test)
y_pred_test_prob = LRrusPR.predict_proba(X_test)
print("#####################")
print("Test data")
print("#####################")
print("F1: ", metrics.f1_score(y_test, y_pred_test))
print("Cohen Kappa: ", metrics.cohen_kappa_score(y_test, y_pred_test))
print("Brier: ", metrics.brier_score_loss(y_test, y_pred_test))
print("LogLoss: ", metrics.log_loss(y_test, y_pred_test_prob))
print(metrics.classification_report(y_test, y_pred_test))
conf_matrix = metrics.confusion_matrix(y_test, y_pred_test)

In [ ]:
fig, ax = plt.subplots(figsize=(8, 8))
ax.matshow(conf_matrix, cmap=plt.cm.Oranges, alpha=0.3)
for i in range(conf_matrix.shape[0]):
    for j in range(conf_matrix.shape[1]):
        ax.text(x=j, y=i, s=conf_matrix[i, j], va='center', ha='center', fontsize=24)
plt.title('Confusion Matrix ', size=20)
plt.xlabel('Predicted label', size=20)
plt.ylabel('True label', size=20)
ax.tick_params('x', labelsize = 20)
ax.tick_params('y', labelsize = 20)
plt.tight_layout()

In [ ]:
# ROC curve
fig1, ax1 = plt.subplots(figsize=(8, 8))
fpr, tpr, thresholds = roc_curve(y_test, y_pred_test_prob[:, 1])
roc_auc = auc(fpr, tpr)
plt.plot(fpr, tpr, lw=1, label='Model Performance (area = %0.2f)' % (roc_auc))
plt.plot([0, 1], 
            [0, 1], 
             '--', 
             color=(0.6, 0.6, 0.6), 
             label='Luck')
    
plt.plot([0, 0, 1], 
             [0, 1, 1], 
             lw=2,
             linestyle=':',
             color='black',
             label='Perfect Performance')
        
plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('False Positive Rate', size=20)
plt.ylabel('True Positive Rate', size=20)
plt.title('Receiver Operating Characteristic for %s' % "LR, RUS, PR AUC", size=20)
plt.xticks(size = 20)
plt.yticks(size = 20)
plt.legend(loc="lower right", fontsize=18)

In [ ]:
# PR curve
fig2, ax2 = plt.subplots(figsize=(8, 8))
prec, recall, thresholds = precision_recall_curve(y_test, y_pred_test_prob[:, 1])
#pr_auc = auc(prec, recall)
plt.plot(recall, prec, lw=1, label='Model Performance (area = %0.2f)' % 
             (metrics.average_precision_score(y_test, y_pred_test_prob[:, 1])))    
plt.xlim([-0.02, 1.02])
plt.ylim([-0.02, 1.02])
plt.xlabel('Recall', size=20)
plt.ylabel('Precision', size=20)
plt.title('PR Curve for %s' %  "LR, RUS, PR AUC", size=20)
plt.xticks(size = 20)
plt.yticks(size = 20)
plt.legend(loc="top right", fontsize=18)

In [ ]:

corrs = df.corr().abs().stack()

In [ ]:
corrs[(corrs > 0.9) & (corrs != 1.0)].sort_values(ascending=True)