In [2]:
import pandas as pd
from IPython.display import display
pd.options.display.max_columns = None
import datetime
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
flights=pd.read_csv('Capstone 1 - Preparing Data(W).csv',low_memory=False,dtype=str)

In [4]:
flights.MONTH.unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '12', '10'],
      dtype=object)

In [5]:
holiday=pd.read_csv('us-federal-holidays-2011-2020-Copy1.csv')
holiday.head()

         Date                              Holiday
0  12/31/2010                       New Year's Day
1   1/17/2011  Birthday of Martin Luther King, Jr.
2   2/21/2011                Washington's Birthday
3   5/30/2011                         Memorial Day
4    7/4/2011                     Independence Day

In [6]:
holiday_2015 = holiday[holiday.Date.str.contains('2015')]
holiday_2015.Date=['01/01/2015',
 '01/19/2015',
 '02/16/2015',
 '05/25/2015',
 '07/03/2015',
 '09/07/2015',
 '10/12/2015',
 '11/11/2015',
 '11/26/2015',
 '12/25/2015']

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [7]:
holiday_dict = holiday_2015[['Holiday']].set_index(holiday_2015.Date).to_dict()

In [8]:
holiday_dict=holiday_dict['Holiday']

In [9]:
holiday_dict

{'01/01/2015': "New Year's Day",
 '01/19/2015': 'Birthday of Martin Luther King, Jr.',
 '02/16/2015': "Washington's Birthday",
 '05/25/2015': 'Memorial Day',
 '07/03/2015': 'Independence Day',
 '09/07/2015': 'Labor Day',
 '10/12/2015': 'Columbus Day',
 '11/11/2015': 'Veterans Day',
 '11/26/2015': 'Thanksgiving Day',
 '12/25/2015': 'Christmas Day'}

In [10]:
flights['IsHoliday']=flights.DATE
flights['IsHoliday']=flights['IsHoliday'].str.slice(5,7)+"/"+flights['IsHoliday'].str.slice(8,10)+"/"+flights['IsHoliday'].str.slice(0,4)

In [11]:
days =list(holiday_dict.values())

In [12]:
flights['IsHoliday']=flights['IsHoliday'].replace(holiday_dict)

In [13]:
flights['IsHoliday'][flights['IsHoliday'].isin(days)].unique()

array(["New Year's Day", 'Birthday of Martin Luther King, Jr.',
       "Washington's Birthday", 'Memorial Day', 'Independence Day',
       'Labor Day', 'Veterans Day', 'Thanksgiving Day', 'Christmas Day',
       'Columbus Day'], dtype=object)

In [14]:
flights.DATE[flights.DATE.str.contains('10-14')]

491870    2015-10-14 00:00:00
491871    2015-10-14 00:00:00
491872    2015-10-14 00:00:00
491873    2015-10-14 00:00:00
491874    2015-10-14 00:00:00
491875    2015-10-14 00:00:00
491876    2015-10-14 00:00:00
491877    2015-10-14 00:00:00
491878    2015-10-14 00:00:00
491879    2015-10-14 00:00:00
491880    2015-10-14 00:00:00
491881    2015-10-14 00:00:00
491882    2015-10-14 00:00:00
491883    2015-10-14 00:00:00
491884    2015-10-14 00:00:00
491885    2015-10-14 00:00:00
491886    2015-10-14 00:00:00
491887    2015-10-14 00:00:00
491888    2015-10-14 00:00:00
491889    2015-10-14 00:00:00
491890    2015-10-14 00:00:00
491891    2015-10-14 00:00:00
491892    2015-10-14 00:00:00
491893    2015-10-14 00:00:00
491894    2015-10-14 00:00:00
491895    2015-10-14 00:00:00
491896    2015-10-14 00:00:00
491897    2015-10-14 00:00:00
491898    2015-10-14 00:00:00
491899    2015-10-14 00:00:00
                 ...
532407    2015-10-14 00:00:00
532408    2015-10-14 00:00:00
532409    2015-10-14 00:00:00
532410    2015-10-14 00:00:00
532411    2015-10-14 00:00:00
532412    2015-10-14 00:00:00
532413    2015-10-14 00:00:00
532414    2015-10-14 00:00:00
532415    2015-10-14 00:00:00
532416    2015-10-14 00:00:00
532417    2015-10-14 00:00:00
532418    2015-10-14 00:00:00
532419    2015-10-14 00:00:00
532420    2015-10-14 00:00:00
532421    2015-10-14 00:00:00
532422    2015-10-14 00:00:00
532423    2015-10-14 00:00:00
532424    2015-10-14 00:00:00
532425    2015-10-14 00:00:00
532426    2015-10-14 00:00:00
532427    2015-10-14 00:00:00
532428    2015-10-14 00:00:00
532429    2015-10-14 00:00:00
532430    2015-10-14 00:00:00
532431    2015-10-14 00:00:00
532432    2015-10-14 00:00:00
532433    2015-10-14 00:00:00
532434    2015-10-14 00:00:00
532435    2015-10-14 00:00:00
532436    2015-10-14 00:00:00
Name: DATE, Length: 1419, dtype: object

In [15]:
flights['Holiday']=flights['IsHoliday']

In [16]:
flights['IsHoliday'][flights['IsHoliday'].isin(days)]=1
flights['IsHoliday'][flights['IsHoliday']!=1]=0

In [17]:
flights.head()

,Unnamed: 0,DATE,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,ORG_apparentTemperature,ORG_cloudCover,ORG_dewPoint,ORG_humidity,ORG_icon,ORG_precipAccumulation,ORG_precipIntensity,ORG_precipProbability,ORG_precipType,ORG_pressure,ORG_summary,ORG_temperature,ORG_visibility,ORG_windBearing,ORG_windGust,ORG_windSpeed,DESTINATION_AIRPORT,DEST_apparentTemperature,DEST_cloudCover,DEST_dewPoint,DEST_humidity,DEST_icon,DEST_precipAccumulation,DEST_precipIntensity,DEST_precipProbability,DEST_precipType,DEST_pressure,DEST_summary,DEST_temperature,DEST_visibility,DEST_windBearing,DEST_windGust,DEST_windSpeed,SCHEDULED_DEPARTURE,SCHEDULED_DEPARTURE_DT,DEPARTURE_TIME,DEPARTURE_TIME_DT,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_OFF_DT,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,WHEELS_ON_DT,TAXI_IN,SCHEDULED_ARRIVAL,SCHEDULED_ARRIVAL_DT,ARRIVAL_TIME,ARRIVAL_TIME_DT,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,IsHoliday,Holiday
0,0,2015-01-01 00:00:00,2015,1,1,4,AA,1112,N3LAAA,SFO,45.08,0.0,22.57,0.41,clear-night,NaN,0.0,0.0,NaN,1018.37,Clear,45.08,10.0,66.0,4.07,0.58,DFW,43.27,0.0,21.28,0.41,clear-night,NaN,0.0,0.0,NaN,1018.58,Clear,43.27,10.0,53.0,4.99,1.25,0030,2015-01-01 00:30:00,0019,2015-01-01 00:19:00,-11.0,17.0,0036,2015-01-01 00:36:00,195.0,193.0,173.0,1464,05:29,2015-01-01 05:29:00,3.0,05:45,2015-01-01 05:45:00,05:32,2015-01-01 05:45:00,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
1,1,2015-01-01 00:00:00,2015,1,1,4,DL,1173,N826DN,LAS,34.23,0.83,16.1,0.47,partly-cloudy-night,NaN,0.0,0.0,NaN,1017.51,Mostly Cloudy,34.23,10.0,18.0,6.28,1.15,ATL,30.79,0.14,15.55,0.53,clear-day,NaN,0.0,0.0,NaN,1021.08,Clear,30.79,10.0,250.0,5.26,0.43,0030,2015-01-01 00:30:00,0033,2015-01-01 00:33:00,3.0,12.0,0045,2015-01-01 00:45:00,221.0,203.0,186.0,1747,06:51,2015-01-01 06:51:00,5.0,07:11,2015-01-01 07:11:00,06:56,2015-01-01 07:11:00,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
2,2,2015-01-01 00:00:00,2015,1,1,4,DL,2336,N958DN,DEN,6.92,0.0,-1.98,0.66,clear-night,NaN,0.0,0.0,NaN,1025.03,Clear,6.92,4.54,187.0,3.0,0.96,ATL,4.1,0.13,-1.94,0.75,clear-night,NaN,0.0,0.0,NaN,1022.61,Clear,4.1,2.04,199.0,2.04,0.85,0030,2015-01-01 00:30:00,0024,2015-01-01 00:24:00,-6.0,12.0,0036,2015-01-01 00:36:00,173.0,149.0,133.0,1199,04:49,2015-01-01 04:49:00,4.0,05:23,2015-01-01 05:23:00,04:53,2015-01-01 05:23:00,-30.0,0,0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
3,3,2015-01-01 00:00:00,2015,1,1,4,UA,1197,N78448,SFO,45.08,0.0,22.57,0.41,clear-night,NaN,0.0,0.0,NaN,1018.37,Clear,45.08,10.0,66.0,4.07,0.58,IAH,43.1,0.0,21.9,0.43,clear-night,NaN,0.0,0.0,NaN,1018.83,Clear,43.1,10.0,47.0,6.35,1.94,0048,2015-01-01 00:48:00,0042,2015-01-01 00:42:00,-6.0,11.0,0053,2015-01-01 00:53:00,218.0,217.0,199.0,1635,06:12,2015-01-01 06:12:00,7.0,06:26,2015-01-01 06:26:00,06:19,2015-01-01 06:26:00,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day
4,4,2015-01-01 00:00:00,2015,1,1,4,NK,214,N632NK,LAS,33.39,1.0,15.19,0.47,cloudy,NaN,0.0,0.0,NaN,1017.46,Overcast,33.39,10.0,350.0,7.4,1.31,DFW,32.31,0.48,15.3,0.49,partly-cloudy-night,NaN,0.0,0.0,NaN,1018.96,Partly Cloudy,32.31,10.0,30.0,8.23,2.63,0103,2015-01-01 01:03:00,0102,2015-01-01 01:02:00,-1.0,13.0,0115,2015-01-01 01:15:00,147.0,147.0,128.0,1055,05:23,2015-01-01 05:23:00,6.0,05:30,2015-01-01 05:30:00,05:29,2015-01-01 05:30:00,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,1,New Year's Day

In [18]:
flights.to_csv('Capstone 1 - Preparing Data(W&H).csv')